/*
  chevyodell.github.io main page style sheet
*/

/******* GENERAL FORMATTING *******/

body {
  background-color: cornsilk;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

p, ul{
  font-family: monospace;
  font-size: 1.2em;
  letter-spacing: .05em;
  font-weight: bold;
  color: black;
  width: 50vw;
  margin: 10px;
}

/******* NAV BAR FORMATTING *******/

.tab {
   font-family: monospace;
   text-transform: uppercase;
   letter-spacing: .17em;
   font-weight: bold;
   color: black;

   padding-right: 60px;
   padding-left: 15px;
   padding-top: 10px;
   padding-bottom: 5px;
   margin-top: 5px;
   margin-bottom: 5px;
}

.tab:hover {
   background-color: maroon;
   color: cornsilk;
}

/******* INDEX PAGE FORMATTING *******/
.indexcontainer {
  display: flex;
  margin-bottom: 10px;
}

.indeximgcontainer {
  width: 25%;
  height: 100%;
  overflow: hidden;
}

.indeximgcontainer:hover {
  width: 50%;
  height: 100vh;
}

/******* PAGE FORMATTING *******/

.paintingtitle{
  width: 100%;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: .20em;
  font-size: 2em;
  font-weight: bold;
  color: black;
  text-align: center;
}

.container{
  display: flex;
  padding: 5px;
  margin: 5px;
}

.information{
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
}
